h1 {
    font-weight: bold;
    font-size: 2em;
    color: rgb(7, 110, 157);
}
h2 {
    
    color: rgb(33, 24, 24);
    width:20%;
   
}

#people-container {
    display: flex;
    flex-wrap: wrap;
}

.person {
    cursor: pointer;
    background-color: rgb(55, 205, 205);
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

#person-container {
    padding: 20px;
    background-color: #f4f4f4;
}

#person-details {
    list-style-type: none;
}

#person-container.hidden {
    display: none;
}